@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/files/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible Next";
    src: url("../assets/files/AtkinsonHyperlegibleNext-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
}

:root {
    --baltic-blue: #075985;
    --olive-leaf: #3F6212;
    --floral-white: #F7F3E8;
    --ink-black: #17202A;

    --font-heading: "Cormorant Garamond", serif;
    --font-body: "Atkinson Hyperlegible Next", sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--ink-black);
}

header {
    background-color: var(--baltic-blue);
    font-family: var(--font-heading);
}

header nav {
    font-family: var(--font-body);
}

.table-color {
    background-color: var(--olive-leaf);
}

.hero {
    min-height: 350px;
    padding: 64px 24px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/pork-souvlaki.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    margin: 0;
    color: var(--floral-white);
    text-shadow: 0 2px 8px rgba(0,0,0,0.8);
    text-align: center;
}

.hero-text {
    margin: 8px 0;
    font-size: 1.25rem;
    color: var(--floral-white);
    text-shadow: 0 1px 4px rgba(0,0,0, 0.8);
    text-align: center;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.menu-table td{
    width: 33%;
    padding: 20px;
    text-align: center;
    vertical-align: top;
}

.menu-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: white;
    color: var(--olive-leaf);
    border: 2px solid var(--olive-leaf);
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 12px auto;
    padding: 0;
    border: 1px solid var(--floral-white);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-image {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
    object-fit: cover;
    border-radius: 4px;
}

.card-title {
    margin: 4px 0;
    font-size: 1.25rem;
    color: var(--baltic-blue);
}

.history {
    background-color: var(--floral-white);
    width: 100%;
    padding: 60px 10%;
    box-sizing: border-box;
}

.history table {
    width: 100%;
}

.history td {
    padding: 20px;
    vertical-align: middle;
    font-size: 1.25rem;
}

.history h2 {
    margin: 0;
    font-family: var(--font-heading);
    font-size: 2.50rem;
    color: var(--baltic-blue);
}

.history img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

#center-table {
    display: flex;
    justify-content: center;
    align-items: center;
}
